.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.year {
    display: flex;
    position: relative;
    align-items: center;
}

.calendar > .year:nth-child(5n) {
    margin-bottom: 4px;
}

.year-label {
    position: absolute;
    right: -4px;
    width: 1px;
    color: #2a2a2a;
    font-weight: 600;
    font-size: 10px;
    text-align: left;
}

.week {
    margin: 0.5px;
    border: 1px solid #2a2a2a;
    width: 0.8vw;
    height: 0.8vw;
}

.week.lived {
    background-color: #2a2a2a;
}
